> **GROUP NAME=1.GIRISH LOHKARE(238) 2.GOPAL MANKAR(242) 3.SHIVRAJ
> JAGTAP(227) 4.SANKET KOLHE(233)**

| **<u>ANALYSING THE DATA OF CRICKET(IPL)</u>** |
|-----------------------------------------------|

> data4=\[\]  
> import csv  
> f1=open("/content/sample_data/DATA1.csv","r")
> f2=open("/content/sample_data/DATA2.csv","r")
> f3=open("/content/sample_data/DATA3.csv","r")
> f4=open("combine.csv","w")  
> data1=list(csv.reader(f1))  
> data2=list(csv.reader(f2))  
> data3=list(csv.reader(f3))  
> cf4=csv.writer(f4)  
> for i inrange(len(data1)):  
> data4.append(data1\[i\]+data2\[i\]+data3\[i\])
>
> print(data4)  
> cf4.writerows(data4)  
> f1.close()  
> f2.close()  
> f3.close()  
> f4.close()
>
> import csv
>
> withopen("/content/combine.csv",'r') as f:

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>data = csv.reader(f)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

> jrno = \[\]  
> nm = \[\]  
> tn = \[\]  
> mom = \[\]  
> win = \[\]  
> score = \[\]  
> fours = \[\]  
> sixes = \[\]  
> cent=\[\]
>
> for row in data:
>
> jrno.append(int(row\[0\]))  
> nm.append(row\[1\])  
> tn.append(row\[2\])  
> mom.append(row\[3\])  
> win.append(row\[4\])  
> score.append(row\[5\])  
> fours.append(row\[6\])  
> sixes.append(row\[7\])  
> cent.append(row\[8\])
>
> print("jersey number : ", jrno)  
> print("name : ", nm)  
> print("team name : ", tn)  
> print("man of the match : ", mom)  
> print("number of wins:", win)  
> print("score of player:", score)  
> print("number of fours:", fours)  
> print("number of sixes:", sixes)  
> print("number of centuries:", cent)
>
> #highest score of player  
> print("1. highest score of player:",max(score))
>
> #lowest score of player  
> print("2. lowest score of player:",min(score))
>
> #maximum man of the match of player  
> print("3. maximum man of the match of player:",max(mom))
>
> #name of the player who has highest score  
> print("4.name of the player who has highest score:",max(nm))
>
> #name of the player who has lowest score  
> print("5. lowest score name of the player :",min(nm))
>
> #name of the player who has minimum sixes  
> print("6.name of the player who has minimum sixes:",min(nm))
>
> #minimum fours of the player  
> print("7.minimum fours of the player:",min(fours))
>
> #maximum centuries of players  
> print("8.maximum centuries of players:",max(cent))
>
> #minimum centuries of players

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>print("9.minimum centuries of players:",min(cent))</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>#maximum sixes of the player</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>print("10.maximum sixes of the player:",max(sixes))</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p><strong>OUTPUT</strong></p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

> \[\['45', 'ROHIT SHARMA ', 'MUMBAI', '12 MAN OF THE MATCH', '20 WINS',
> '236 SCORE', '420 FOURS', '509 SIXES', '25 -100S'\], \['18', 'VIRAT
> KOHLI', 'BANGLORE', '9 MAN OF THE MATCH', '16 WINS', '219 SCORE', '310
> FOURS', '450 SIXES', '30-100S'\], \['7', 'M.S DHONI', 'CHENNAI', '11
> MAN OF THE MATCH', '19 WINS', '211 SCORE', '380 FOURS ', '410 SIXES',
> '21-100S'\], \['39', 'SURYAKUMAR', 'MUMBAI', '5 MAN OF THE MATCH', '7
> WINS', '192 SCORE', '210 FOURS', '350 SIXES', '17-100S'\], \['181',
> 'HARDIK', 'GUJRAT', '7 MAN OF THE MATCH', '14 WINS', '209 SCORE', '109
> FOURS', '270 SIXES', '10-100S'\], \['40', 'K L RAHUL', 'LUCKNOW', '15
> MAN OF THE MATCH', '4 WINS', '186 SCORE', '170 FOURS', '230 SIXES',
> '15-100S'\], \['59', 'DAVID WARNER', 'DELHI', '10 MAN OF THE MATCH',
> '11 WINS', '179 SCORE', '250 FOURS', '110 SIXES', '09-100S'\], \['78',
> 'SHIKHAR DHAWAN', 'PUNJAB', '3 MAN OF THE MATCH', '3 WINS', '195
> SCORE', '300 FOURS', '320 SIXES', '04-100S'\], \['55', 'TIM DAVID',
> 'MUMBAI', '8 MAN OF THE MATCH', '8 WINS ', '180 SCORE', '111 FOURS ',
> '177 SIXES', '12-100S'\], \['100', 'FAF DU PLESIS', 'BANGLORE', '4 MAN
> OF THE MATCH', '13 WINS', '174 SCORE', '200 FOURS', '444 SIXES',
> '02-100S'\]\]  
> jersey number : \[45, 18, 7, 39, 181, 40, 59, 78, 55, 100\]  
> name : \['ROHIT SHARMA ', 'VIRAT KOHLI', 'M.S DHONI', 'SURYAKUMAR',
> 'HARDIK', 'K L RAHUL', 'DAVID WARNER', 'SHIKHAR DHAWAN', 'TIM DAVID',
> 'FAF DU PLESIS'\]  
> team name : \['MUMBAI', 'BANGLORE', 'CHENNAI', 'MUMBAI', 'GUJRAT',
> 'LUCKNOW', 'DELHI', 'PUNJAB', 'MUMBAI', 'BANGLORE'\]  
> man of the match : \['12 MAN OF THE MATCH', '9 MAN OF THE MATCH', '11
> MAN OF THE MATCH', '5 MAN OF THE MATCH', '7 MAN OF THE MATCH', '15 MAN
> OF THE MATCH', '10 MAN OF THE MATCH', '3 MAN OF THE MATCH', '8 MAN OF
> THE MATCH', '4 MAN OF THE MATCH'\]  
> number of wins: \['20 WINS', '16 WINS', '19 WINS', '7 WINS', '14
> WINS', '4 WINS', '11 WINS', '3 WINS', '8 WINS ', '13 WINS'\]  
> score of player: \['236 SCORE', '219 SCORE', '211 SCORE', '192 SCORE',
> '209 SCORE', '186 SCORE', '179 SCORE', '195 SCORE', '180 SCORE', '174
> SCORE'\]  
> number of fours: \['420 FOURS', '310 FOURS', '380 FOURS ', '210
> FOURS', '109 FOURS', '170 FOURS', '250 FOURS', '300 FOURS', '111 FOURS
> ', '200 FOURS'\]  
> number of sixes: \['509 SIXES', '450 SIXES', '410 SIXES', '350 SIXES',
> '270 SIXES', '230 SIXES', '110 SIXES', '320 SIXES', '177 SIXES', '444
> SIXES'\]  
> number of centuries: \['25 -100S', '30-100S', '21-100S', '17-100S',
> '10-100S', '15-100S', '09-100S', '04-100S', '12-100S', '02-100S'\]  
> 1. highest score of player: 236 SCORE  
> 2. lowest score of player: 174 SCORE  
> 3. maximum man of the match of player: 9 MAN OF THE MATCH  
> 4.name of the player who has highest score: VIRAT KOHLI  
> 5. lowest score name of the player : DAVID WARNER  
> 6.name of the player who has minimum sixes: DAVID WARNER  
> 7.minimum fours of the player: 109 FOURS  
> 8.maximum centuries of players: 30-100S  
> 9.minimum centuries of players: 02-100S  
> 10.maximum sixes of the player: 509 SIXES